-e .
bandit==1.7.4
black==22.10.0
flake8-2020==1.7.0
flake8-blind-except==0.2.1
flake8-bugbear==22.10.27
flake8-builtins==2.0.1
flake8-comprehensions==3.10.1
flake8==6.0.0
ipdb==0.13.9
isort==5.10.1
matplotlib==3.6.2
mypy==0.991
numpy==1.24.1
pep8-naming==0.13.2
pyroma==4.1
pytest-cov==4.0.0
pytest==7.2.0
sphinx-autodoc-typehints==1.19.5
sphinx==5.3.0
twine==4.0.2
wheel==0.38.4
